* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: left; */
    /* justify-content: center; */
    /* flex-direction: column; */
    padding-top: 4vw;
    background-image: url(bg.jpg);
    background-position:  0% 1%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.left{
    padding-top: 11vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: left; */
    /* justify-content: space-between; */
    padding-left: 4vw;

}
.left h1{
    margin-top: 2vw;
    font-size: 1.7vw;
    /* margin-bottom: 6vw; */
    width: 40%;
    color:#d3d0c7;
    /* background-color: rgba(255, 255, 255, 0.187); */
    border-radius: 12px;
    mix-blend-mode: screen;
    /* padding: 2vw; */
    -webkit-text-stroke: 0.4px #884232;
}
.left a{
    margin-top: 3vw;
    width: fit-content;
    font-size: 1.4vw;
    border-radius: 12px;
    border: 1px solid #884232;
    background-color: #dfb083;
    padding: .2em 2em;
    text-decoration: none;
    color: antiquewhite;
}
@media (max-width : 600px) {
    .container{
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: left; */
    /* justify-content: center; */
    flex-direction: column;
    padding-top: 4vw;
    background-image: url(bg.jpg);
    background-position:  50% 10%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.left{
    position: absolute;
    padding-top: 11vw;
    width: 100%;
    height: 55%;
    display: flex;
    /* flex-direction: column-reverse; */
    align-self: flex-end;
    /* justify-content: space-between; */
    padding-left: 4vw;
/* background-color: blue; */
bottom: 0px;
}
.left h1{
    margin-top: 2vw;
    margin-bottom: 7vw;
    font-size: 5vw;
    /* margin-bottom: 6vw; */
    width: 90%;
    color:#d3d0c7;
    /* background-color: rgba(255, 255, 255, 0.187); */
    border-radius: 12px;
    mix-blend-mode: screen;
    /* padding: 2vw; */
    -webkit-text-stroke: 0.4px #884232;
}
.left a{
    margin-top: 5vw;
    width: fit-content;
    font-size: 5vw;
    border-radius: 12px;
    border: 1px solid #884232;
    background-color: #dfb083;
    padding: .4em 3em;
    text-decoration: none;
    color: antiquewhite;
}
}